.main-container{
    padding: 0px 0px 0px 70px;
    width: 30%;
    height: 3px;
    margin-bottom: -5px;
    margin-top: -5px;
  }
#clock{
    width: 30%;
    padding: 0px 0px 0px 1280px;
    font-size: 15px;
    font-weight: bolder;
    color: purple;
    font-family: 'Roboto' , sans-serif ;
}
.panel,.flip
{
padding:5px;
text-align:center;
background-color:#fcdcfd;
border:solid 1px #c3c3c3;
}
.panel
{
padding: 0px;
display:none;
}