.main-container{
    padding: 0px 0px 0px 10px;
    width: 30%;
    height: 3px;
    margin-bottom: -5px;
    margin-top: -5px;
  }
#clock{
    width: 35%;
    padding: 0px 0px 0px 1280px;
    font-size: 19px;
    font-weight: bolder;
    color: purple;
    font-family: 'Roboto' , sans-serif ;
}
#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: #f5d9f8;
  border: solid 1px #f5d9f8;
}

#panel {
  padding: 0px;
  display: none;
}